.mainpage{
    display:flex;
    flex-direction:column;
    width:100%;
    // background-color:grey;
    align-items: center;
    // justify-content: center;
    
    
}
.mainpagesub{
    width: 90%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}